#root{
    letter-spacing: 1px;

}
.typeStyle{
    display: inline-block;
    margin: auto;
    background-color: whitesmoke;
    color: #242424;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 20px;
    max-width: 90%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
}
.dateStyles{
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 7px; 
}